In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
iris=load_iris()
iris_df=pd.DataFrame(data=iris.data,columns=iris.feature_names)

In [2]:
iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [3]:
target_df=pd.DataFrame(data=iris.target,columns=['Species'])

In [4]:
target_df

     Species
0          0
1          0
2          0
3          0
4          0
..       ...
145        2
146        2
147        2
148        2
149        2

[150 rows x 1 columns]

In [5]:
iris_df=pd.concat([iris_df,target_df],axis=1)

In [6]:
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [7]:
x=iris_df.drop('sepal length (cm)',axis=1)

In [8]:
x

     sepal width (cm)  petal length (cm)  petal width (cm)  Species
0                 3.5                1.4               0.2        0
1                 3.0                1.4               0.2        0
2                 3.2                1.3               0.2        0
3                 3.1                1.5               0.2        0
4                 3.6                1.4               0.2        0
..                ...                ...               ...      ...
145               3.0                5.2               2.3        2
146               2.5                5.0               1.9        2
147               3.0                5.2               2.0        2
148               3.4                5.4               2.3        2
149               3.0                5.1               1.8        2

[150 rows x 4 columns]

In [9]:
iris_df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'Species'],
      dtype='object')

In [10]:
y=iris_df['sepal length (cm)']

In [11]:
y

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length (cm), Length: 150, dtype: float64

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=101)

In [13]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [14]:
lr.fit(x_train,y_train)

LinearRegression()

In [15]:
pred=lr.predict(x_test)

In [16]:
pred

array([5.45717101, 5.0736175 , 4.93673765, 6.99370677, 6.54266795,
       5.98776178, 5.68575522, 5.47347099, 5.88042239, 4.6829062 ,
       6.30253641, 5.52654207, 4.90660503, 7.34047628, 6.18132798,
       6.0940002 , 6.0029244 , 6.01620127, 4.7341514 , 6.69220901,
       5.49458357, 5.21235961, 6.03432712, 6.24474908, 6.0940002 ,
       5.54940766, 5.09716102, 5.87131658, 4.83850407, 4.09735861,
       6.65714163, 5.60251513, 6.64812159, 5.70985452, 6.47983902,
       6.185076  , 6.42205169, 5.96853495, 5.88715713, 6.83444425,
       5.10017123, 4.75884287, 4.96754821, 6.47873805, 6.20193176])

In [17]:
# Evaluating Model's Performance
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
import numpy as np
#from sklearn.metrics import mean_squared_error
print('Mean Absolute Error:', mean_absolute_error(y_test, pred))
print('Mean Squared Error:', mean_squared_error(y_test, pred))
print('Mean Root Squared Error:', np.sqrt(mean_squared_error(y_test, pred)))

Mean Absolute Error: 0.26709945889131076
Mean Squared Error: 0.10744247204660264
Mean Root Squared Error: 0.32778418516853836